<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketToRideGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TicketToRideGUI.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>es</value>
            </setting>
        </TicketToRideGUI.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IChatService">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameServices">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserPlayer">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayersConnect">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailManagement">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbies">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameRoom">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfile">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IStat">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IBoardGameService">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.1.74:9015/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServiceReference.IChatService"
                name="NetTcpBinding_IChatService" />
            <endpoint address="net.tcp://192.168.1.74:9017/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailManagement"
                contract="EmailManagementService.IEmailManagement" name="NetTcpBinding_IEmailManagement" />
            <endpoint address="net.tcp://192.168.1.74:9024/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBoardGameService"
                contract="GameBoardService.IBoardGameService" name="NetTcpBinding_IBoardGameService" />
            <endpoint address="net.tcp://192.168.1.74:9019/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbies"
                contract="LobbiesService.ILobbies" name="NetTcpBinding_ILobbies" />
            <endpoint address="net.tcp://192.168.1.74:9019/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameRoom"
                contract="LobbiesService.IGameRoom" name="NetTcpBinding_IGameRoom" />
            <endpoint address="net.tcp://192.168.1.74:9022/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfile"
                contract="ProfileService.IProfile" name="NetTcpBinding_IProfile" />
            <endpoint address="net.tcp://192.168.1.74:9022/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStat"
                contract="ProfileService.IStat" name="NetTcpBinding_IStat" />
            <endpoint address="net.tcp://192.168.1.74:9011/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameServices"
                contract="TicketToRideService.IGameServices" name="NetTcpBinding_IGameServices" />
            <endpoint address="net.tcp://192.168.1.74:9011/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserPlayer"
                contract="TicketToRideService.IUserPlayer" name="NetTcpBinding_IUserPlayer" />
            <endpoint address="net.tcp://192.168.1.74:9011/GameServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayersConnect"
                contract="TicketToRideService.IPlayersConnect" name="NetTcpBinding_IPlayersConnect" />
        </client>
    </system.serviceModel>
</configuration>